<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <servlet-name>servlet_1</servlet-name>
    <servlet-class>com.umair.serverlet.AddNumbers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_1</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>com.umair.serverlet.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>

  <display-name>Archetype Created Web Application</display-name>
</web-app>
